body{
    background-color: grey;
}
*{
    border: solid;
}
#main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    height:80vh;
    padding-bottom: 160px;
}

#time-slot{
    font-family: Monoton, cursive, 'Roboto Condensed';
    color:whitesmoke;
    font-size: 220px;
}

#search-bar{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    background-color: rgb(0,0,0, 0.2);
    margin: 8px;
    width: 50%;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
    border-radius: 9999px

}